<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <link rel="stylesheet" href="index.css" type="text/css">
        <link rel="shortcut icon" href="\images\logo.png"/>
    </head>

    <body>
        <header>
            <div id="div-nav">
                <iframe src="navigation.html" scrolling="no" frameborder="0"></iframe> 
            </div> 
        </header>

        <div id="div-main">
            <div id="contact-div">
                <h1>Contact</h1>
                <p>azeemcole70@gmail.com</p>
            </div>
            <p>I am a big fan of chess</p>
            <br>
            <p>I like everything science but especially love tech</p>
        </div>

        <footer>
            <div id="foot-div"> 
                <a href="#top"> <img src="images\arrowupgreen.png" style="width:50px; height: 50px;"></a>
            </div>
        </footer>
    </body>
</html>